.App {
  text-align: center;
}

.qr{
  width: 400px!important;
  height: 400px!important;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button_group{
  display: flex;
  justify-content: space-around;
  width: 600px;
  margin-bottom: 40px;
}

.input_len{
  width: 500px;
}

.App-link {
  color: #61dafb;
  cursor: pointer;
  /* margin-right: 40px; */
}

/* .App-link:{
  cursor: pointer;
} */

.App-link:last-child{
  margin-left: 0;
}

